{% extends "layout.html" %}
{% set active_page = 'about' %}

{% block title %}
About
{% endblock %}

{% block content %}
{{ super() }}

<!-- Header -->
<header class="bg-primary text-center py-5 mb-4">
  <div class="container">
    <h1 class="font-weight-light text-white">Meet the Team</h1>
  </div>
</header>

<div class="container">
  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://stopatois.s3.eu-west-3.amazonaws.com/img/Askar.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Askar</h5>
          <div class="card-text text-black-50">CEO</div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://stopatois.s3.eu-west-3.amazonaws.com/img/AnhThu.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Anh Thu</h5>
          <div class="card-text text-black-50">President</div>
        </div>
      </div>
    </div>
    <!-- Team Member 3 -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="https://stopatois.s3.eu-west-3.amazonaws.com/img/Buu.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Buu</h5>
          <div class="card-text text-black-50">CTO</div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
{% endblock %}