{% extends "layout.html" %}
{% set active_page = 'profile' %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{ super() }}

<link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}">
{% endblock %}

{% block content %}
{{ super() }}
<div class="container">
  
  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">Hello {{ name }}!</h1>
  </header>

<div class="row text-center">

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="https://stopatois.s3.eu-west-3.amazonaws.com/img/grammar.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Your score: 6.3</h4>

        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="https://stopatois.s3.eu-west-3.amazonaws.com/img/vocabulary.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Your score: 7.2</h4>
          
        </div>
       
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="https://stopatois.s3.eu-west-3.amazonaws.com/img/listening.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Your score: 8.1</h4>
          
        </div>
        
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="https://stopatois.s3.eu-west-3.amazonaws.com/img/pronounciation.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Your score: 7.5</h4>
          
        </div>
       
      </div>
    </div>

  </div> <!-- /.row -->



</div>
{% endblock %}