{% extends "layout.html" %}

{% block body %}
<body>
  <div class="container">
    <div class="row">
      <div id="controls">
        <div class="col-md-2">
          <button id="recordButton" type="submit" class="btn btn-primary">Record</button>  
        </div>
        <div class="col-md-2">
          <button id="stopButton" type="submit" class="btn btn-primary" disabled>Stop</button>  
        </div>
        <div class="col-md-2">
          <form action="/result_voice">
            <button id="btnSumbit" type="submit" class="btn btn-primary">Check Answer</button>
        </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="formats"></div>
        <h3>Word: {{ word }}</h3>
        <h3>Result: {{ result }}</h3>
      </div>
    </div>
  </div>

  <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
  <script src="{{ url_for('static', filename = 'js/pronounciation.js') }}"></script>
  <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
</body>
{% endblock %}
